.container {
    border: blue;
    border-style: solid;
    background: white;
    margin: o auto;
    padding: 20px;
    display: block;
    width: 700px;
}

.input-group {
    display: block;
    text-align: center;
    margin: 0 auto;

}

.search-engine {
    text-align: center;
    width: 400px;
    height: 34px;
    border-color: rgb(84, 129, 244);
    border-radius: 6px;
    margin: 0 auto;
    color: rgb(4, 9, 9);
}

.btn-primary {
    border-radius: 6px;
    border-width: 2px;
    background: white;
    color: blue;
    width: 100px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
    vertical-align: middle;
    initial-value: 20px;


}

.city {
    color: blue;
    font-size: 25px;
    position: relative;
    right: -25px;
}

.time-date {
    color: black;
    font-size: 15px;
    font-weight: 450;
    position: relative;
    right: -30px;
    top: 5px;
}

.weather-description {
    color: black;
    font-size: 15px;
    font-weight: 450;
    position: relative;
    right: -30px;
    top: 10px;
}

.current-temp {
    font-size: 40px;
    color: blue;
    position: relative;
    right: -20px;
    top: 20px;
}

.precip-humid-wind {
    position: relative;
    text-align: right;
    line-height: 25px;
    top: -50px;
    right: 80px;
}

.col-1 {
    text-align: center;
    margin: 0 auto;
    color: blue;
    font-size: 25px;
}

.degree {
    font-size: 15px;
    position: relative;
    top: -10px;
}

.main-degree {
    position: relative;
    top: -15px;
    font-size: 20px;
}

#units a:hover {
    cursor: pointer;
    text-decoration: underline;

}